@import "../globals";

$background-color: #f3f7f5;

.dashboard-container {
  width: 100%;
  top: 0;
  height: 100vh;
  background-color: $background-color;
  display: flex;
  @media screen and (max-width: $mobile_screen) {
    flex-direction: column;
    align-items: center;
  }
  position: absolute;
  overflow-x: hidden;

  nav {
    display: none;
    width: 100%;
    height: 300px;
    position: relative;
    @media screen and (max-width: $mobile_screen) {
      display: block;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    background-color: #0d3757;

    .mobile-menu-box {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 20%;
      left: 80%;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      .menu {
        width: 100%;
        height: 3px;
        margin-bottom: 2px;
        background-color: white;
      }
    }

    .list {
      list-style: none;
      background-color: transparent;
      overflow: hidden;
      width: auto;
      margin-left: 38%;
      margin-top: 40px;
      box-sizing: border-box;

      .list-item {
        color: white;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        background-color: transparent;
        font-size: medium;
        transition: all 500ms ease;
        padding: 5px;

        &:hover {
          background-color: #327bb3;
        }
      }
    }
  }

  .left-panel {
    width: 220px;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: white;
    box-shadow: 0 0 10px #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    @media screen and (max-width: $mobile_screen) {
      display: none;
    }

    img {
      object-fit: contain;
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: medium;
      color: #444;
      font-family: "Poppins", sans-serif;
      font-weight: bolder;
    }

    ul {
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0;
      margin-top: 20px;
      overflow: hidden;

      li {
        width: 100%;
        padding: 10px;
        background-color: #f4f8fa;
        margin: 10px 0;
        font-family: "Poppins", sans-serif;
        cursor: pointer;
        transition: all 500ms ease;

        &:hover {
          background-color: #c4d4df;
        }
      }
    }

    .logout {
      width: 90%;
      padding: 10px;
      display: flex;
      background-color: #f4f8fa;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      transition: all 500ms ease;

      &:hover {
        background-color: #c4d4df;
      }
    }
  }

  .middle-panel {
    width: 800px;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;

    .second-board-two {
      margin-top: 15px;
      width: 90%;
      height: 100%;
      padding: 10px;
      background-color: #fff;
      border-radius: 7px;
      box-shadow: 0 0 #eee;

      @media screen and (max-width: $mobile_screen) {
        height: auto;
      }

      h3 {
        font-family: "Poppins", sans-serif;
        font-size: medium;
        font-weight: bold;
        color: #0d3757;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 10px;
          color: #327bb3;
          font-family: "Poppins", sans-serif;
          font-size: medium;
          background-color: transparent;
          transition: all 500ms ease;
          display: flex;
          align-items: center;

          img {
            object-fit: contain;
            width: 15px;
            height: 15px;
            
            margin-right: 10px;
          }

          &:hover {
            background-color: #ffd494;
            cursor: pointer;
          }
        }
      }
    }

    @media screen and (max-width: $mobile_screen) {
      width: 85%;
    }

    input {
      width: 90%;
      padding: 12px 20px;
      border: none;
      outline: none;
      background-color: white;
      border-radius: 20px;
    }
    h4 {
      font-family: "Poppins", sans-serif;
      color: #327bb3;
      font-weight: bolder;
      align-self: start;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .update-box {
      width: 100%;
      height: 300px;
      margin: 10px 0;
      display: flex;
      @media screen and (max-width: $mobile_screen) {
        flex-direction: column;
      }
      .update {
        width: 50%;
        height: 100%;
        @media screen and (max-width: $mobile_screen) {
          width: 100%;
        }
        background-color: #ffd494;
        border-radius: 7px;
        box-shadow: 0 0 4px #eee;
        align-self: start;
        position: relative;

        h3 {
          margin: 10px;
          font-size: larger;
          color: #b38644;
          font-weight: bolder;
          font-family: "Poppins", sans-serif;
        }

        img {
          position: absolute;
          width: 200px;
          height: 200px;
          @media screen and (max-width: $mobile_screen) {
            width: 50px;
            height: 50px;
            left: 5%;
            top: 30%;
          }
          object-fit: contain;
          top: 25%;
          left: 30%;
        }
      }

      .update-info {
        width: 50%;
        @media screen and (max-width: $mobile_screen) {
          width: 90%;
          margin-left: 0;
        }
        margin-left: 10px;
        height: 100%;
        background-color: white;
        border-radius: 7px;
        box-shadow: 0 0 4px #eee;
        opacity: 0.6;
        padding: 0 15px;

        h2 {
          color: #333;
          font-family: "Poppins", sans-serif;
          font-weight: bolder;
          color: #0d3757;
          font-size: medium;
          margin: 15px;
        }

        p {
          width: 100%;
          margin: 5px 0;
          color: #444;
          font-size: small;
          font-family: "Poppins", sans-serif;
        }
      }
    }
  }

  .right-panel {
    width: 300px;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $mobile_screen) {
      display: none;
    }
    overflow: hidden;
    position: sticky;
    top: 0;
    .board {
      width: 90%;
      height: 300px;
      background-color: #9acdf8;
      border-radius: 7px;
      margin-top: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .second-board {
      margin-top: 15px;
      width: 90%;
      height: 100%;
      padding: 10px;
      background-color: #fff;
      border-radius: 7px;
      box-shadow: 0 0 #eee;

      @media screen and (max-width: $mobile_screen) {
        height: auto;
      }

      h3 {
        font-family: "Poppins", sans-serif;
        font-size: medium;
        font-weight: bold;
        color: #0d3757;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 10px;
          color: #327bb3;
          font-family: "Poppins", sans-serif;
          font-size: medium;
          background-color: transparent;
          transition: all 500ms ease;
          display: flex;
          align-items: center;

          img {
            object-fit: contain;
            width: 15px;
            height: 15px;
            
            margin-right: 10px;
          }

          &:hover {
            background-color: #ffd494;
            cursor: pointer;
          }
        }
      }
    }
  }
}
