@import "../globals";

$background-color: white;

* {
  margin: 0;
  padding: 0;
}

.login_container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: $background-color;

  .top-shape {
    clip-path: circle(44.4% at 49% 49%);
    background-color: #c4e9ff;
    width: 70%;
    height: 100%;
    position: absolute;
    left: 100%;
    top: -40%;
    transform: translate(-50%) rotate(150deg);

    @media screen and (max-width:$mobile_screen) {
      display: none;
    }
  }

  .small-circle {
    background-color: #fffdab;
    width: 300px;
    border-radius: 50%;
    height: 300px;
    position: absolute;
    left: 100%;
    top: 40%;
    z-index: 2;
    opacity: 0.7;
    transform: translate(-50%);
    @media screen and (max-width:$mobile_screen) {
      display: none;
    }
  }

  .login-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login_heading {
        border-bottom: 5px solid #FFFDAB;
      h2 {
        color:#777;
        text-align: center;
        font-family: "Poppins", sans-serif;
        
      }
    }

    form {
      width: 300px;
      @media screen and (max-width:$smaller_screens) {
       width: 270px;
      }
      height: auto;
      display: flex;
      flex-direction: column;
      .input-box {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        input {
          width: 100%;
          box-sizing: border-box;
          margin: 10px 0;
          border: none;
          font-weight: bold;
          font-size: 14px;
          border-bottom: 2px solid #eee;
          padding: 10px;
          color: #444;
          outline: none;
          @media screen and (max-width:$smaller_screens) {
            font-size: small;
          }   

          &:focus ~ label {
            top: -13px;
            font-size: 9px;
            color: #789db3;
          }
        }
        label {
          top: 0;
          font-family: "Poppins", sans-serif;
          color: #555;
          font-size: 15px;
          position: absolute;
          transition: all 500ms ease;
          @media screen and (max-width:$smaller_screens) {
            font-size: small;
          }
        }
      }
      button {
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: none;
        background-color: #789db3;
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: medium;
        padding: 15px;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: #407492;
          transform: scaleX(0);
          transform-origin: right;
          z-index: -1;
          border-radius: 5px;
          transition: transform 500ms ease;
        }

        &:hover::after {
          transform-origin: left;
          transform: scaleX(1);
        }
      }
    }
  }
}
